<div class="header container">
	<% if (r.headline) { %><h2 class="headline"><%- r.headline %></h2><% } %>
	<% if (r.schedule) {
		var format_date = function(d) {
			if (!d) return '';
			d = moment(d);
			return d.format(
				Math.abs(d.diff(moment(), 'days')) < 60 ? O5._t('ddd, MMM D') : 'll'
			);
		};
		%>
		<div class="date"><%- format_date(r.schedule.start_date) %> &#8211; <%- format_date(r.schedule.end_date) %></div><% } %>
</div>

<div class="body container">
<% if (r['!unpublished']) { print ('<div class="alert">' + O5._t('Unpublished') + '</div>'); } %>
<% if (r.roads && r.roads.length) { %>
	<h4><%- O5._t('Roads') %></h4>
	<% _.each(r.roads, function(road) { %>
		<p><strong><%- road.road_name %></strong><% 
			if (road.from) { 
				print(', ');
				if (road.to) {
					print(O5._t('from'));
				}
				else {
					print(O5._t('near'));
				}
				print(' ' + road.from);
			 }
			if (road.to) { print(' ' + O5._t('to') + ' ' + road.to); }
		%></p>
	<% });
} %>
<% if (r.description) { %><h4><%- O5._t('Details') %></h4><%= O5.utils.nlToBR(r.description) %><% } %>
<% if (r.detour) { %><h4><%- O5._t('Detour') %></h4><%= O5.utils.nlToBR(r.detour) %><% } %>
<% if (r.attachments && r.attachments.length) { %>
	<h4><%- O5._t('Attachments') %></h4>
	<ul><% _.each(r.attachments, function(attachment) { %>
		<li><a href="<%= attachment.url %>" target="_blank"><%- attachment.title ? attachment.title : attachment.url.split('/').pop().replace(/%20/g, ' ') %></a></li>
		<% }); %>
	</ul>
<% } %>
</div>