<div class="header container">
	<% if (r.headline) { %><h2 class="headline"><%- r.headline %></h2><% } %>
	<div class="date">
		<strong><%- schedule.inEffectOn() ? O5._t('In effect today') : O5._t('Not today') %></strong><br>
	</div>
</div>

<div class="body container">
<% if (r['!unpublished']) { print ('<div class="emphasized-note warning unpublished">' + O5._t('Unpublished') + '</div>'); } %>
<% if (r.roads && r.roads.length) { %>
	<h4><%- O5._t('Roads') %></h4>
	<% _.each(r.roads, function(road) { %>
		<p><strong><%- road.name %></strong><% 
			if (road.from) { 
				print(', ');
				if (road.to) {
					print(O5._t('from'));
				}
				else {
					print(O5._t('near'));
				}
				print(' ' + road.from);
			 }
			if (road.to) { print(' ' + O5._t('to') + ' ' + road.to); }
		%></p>
	<% });
} %>
<% if (r.description) { %><h4><%- O5._t('Details') %></h4><%= O5.utils.nlToBR(r.description) %><% } %>

<h4><%- O5._t('Schedule') %></h4><%= O5.utils.nlToBR(schedule.toStrings().join('\n')) %>

<% if (r.detour) { %><h4><%- O5._t('Detour') %></h4><%= O5.utils.nlToBR(r.detour) %><% } %>
<% if (r.attachments && r.attachments.length) { %>
	<h4><%- O5._t('Attachments') %></h4>
	<ul><% _.each(r.attachments, function(attachment) { %>
		<li><a href="<%= attachment.url %>" target="_blank"><%- attachment.title ? attachment.title : attachment.url.split('/').pop().replace(/%20/g, ' ') %></a></li>
		<% }); %>
	</ul>
<% } %>
</div>