<% if (events) { %>
		<thead>
			<tr>
				<th></th>
				<th><%- O5._t('Severity') %></th>
				<th><%- O5._t('Start') %></th>
				<th><%- O5._t('End') %></th>
				<th><%- O5._t('Status') %></th>
			</tr>
		</thead>
		<tbody>
		<% _.each(events, function(rdev) { 
			if (!rdev.id) return; %>
			<tr data-roadevent="<%- rdev.id %>" <% if (rdev.internal.selected) { print('class="selected"'); } %>>
				<td><%- rdev.get('headline') %></td>
				<td><%- rdev.getEnum('severity') %></td>
				<td><%- rdev.get('schedules')[0].start_date %></td>
				<td><%- rdev.get('schedules')[0].end_date %></td>
				<td><%- rdev.getEnum('status') %></td>
			</tr>
		<% }); %>
		</tbody>
<% } %>
