<div id="o5" class="o5">
  <div class="navbar">
    <a class="back-button">&larr;</a>
    <div class="title"><span class="logo"></span></div>
    <div class="buttons"></div>
    <div class="auth"></div>
  </div>
  <div class="infopane"></div>
  <div class="mainpane">
      <div class="mainpane-control mainpane-zoom">
        <a class="mainpane-zoom-in" href="#" title="<%- O5._t('Zoom in') %>">+</a>
        <a class="mainpane-zoom-out" href="#" title="<%- O5._t('Zoom out') %>">-</a>
      </div>
      <div class="mappane"></div>
      <div class="roadevent-list-container"></div>
  </div>
</div>