  <div class="infopane">
  </div>
  <div class="mainpane">
      <div class="mainpane-control mainpane-buttons">
        <div class="mainpane-selector btn-group" data-toggle="buttons-radio">
          <button class="btn btn-small active map-selector"><%- O5._t('Map') %></button>
          <button class="btn btn-small list-selector"><%- O5._t('List') %></button>
        </div>
      </div>
      <div class="mainpane-control mainpane-zoom">
        <a class="mainpane-zoom-in" href="#" title="<%- O5._t('Zoom in') %>">+</a>
        <a class="mainpane-zoom-out" href="#" title="<%- O5._t('Zoom out') %>">-</a>
      </div>
  </div>