.editor .tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.editor .tabs:after {
  content: "";
  display: table;
  clear: both;
}
.editor .tabs li {
  display: block;
  float: left;
  width: 25%;
}
.editor .tabs li a {
  display: block;
  background-color: #75B7C1;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 35px;
  padding-top: 13px;
}
.editor .tabs li.active a {
  background-color: white;
  color: #333333;
}
.editor .tabs li:not(.active) a:hover {
  background-color: #6DACB2;
  color: white;
}

.editor .footer .button {
  width: 49%;
}

.editor .editor-row {
  margin-top: 16px;
}
.editor .editor-row:first-child {
  margin-top: 24px;
}
.editor .field input, .editor .field textarea {
  width: 90%;
  resize: none;
}
.editor .field input[type=checkbox] {
  width: auto;
}
.editor .field .checkbox label {
  display: inline;
}
.editor .field label {
  text-transform: uppercase;
  margin: 0 0 4px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  display: block;
}

.editor .road-edit-widget .road-fields {
  border-bottom: 1px dotted #aaaaaa;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.editor .road-edit-widget .add-row {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
}
.editor .road-edit-widget a.add-row:hover {
  text-decoration: none;
}

/** ATTACHMENTS WIDGET **/

.file-upload-widget .in-progress li {
  font-style: italic;
  background: url('../img/spinner_16.gif') no-repeat;
  padding-left: 20px;
}

.file-upload-widget .delete, .file-upload-widget .edit {
  cursor: pointer;
  font-weight: bold;
  margin-left: 8px;
}
.file-upload-widget .delete:hover,.file-upload-widget .edit:hover {
  color: blue;
}

.dragndrop.file-upload-widget .target {
  position: relative;
  overflow: hidden;
  border: 1px dashed #444444;
  height: 70px;
  width: 95%;
  border-radius: 5px;
  background-color: #F2F2F2;
  display: block;
}
.file-upload-widget .target span {
  display: none;
}
.dragndrop.file-upload-widget .target span {
  display: block;
  color: #666666;
  text-align: center;
  padding-top: 22px;
}
.dragndrop.file-upload-widget .target input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 123px;
  direction: ltr;
  cursor: pointer;
  width: auto;
  height: 70px;
}