.o5 .map-marker {
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.51' height='25.82' viewBox='0 0 28.506 25.816'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M3.38 22.07L14.25 3.25 25.1 22.07'/%3E%3Cpath d='M14.25 4.25l10 17.32h-20l10-17.32m0-2l-.87 1.5-10 17.32-.87 1.5H26l-.87-1.5-10-17.32-.85-1.5z'/%3E%3C/g%3E%3Cpath fill='%23F17739' d='M24.17 25.3l-19.93.02c-1.33 0-2.58-.72-3.24-1.88-.67-1.15-.67-2.6 0-3.75L11 2.36C11.67 1.22 12.9.5 14.25.5c1.33 0 2.57.72 3.24 1.87l9.85 17.08c.42.6.66 1.34.66 2.12 0 2.04-1.64 3.7-3.68 3.75H24.17zm-6.42-7.48l-3.5-6.08-3.5 6.08h7z'/%3E%3Cpath fill='%23FFF' d='M14.25 1c1.16 0 2.23.62 2.8 1.62l9.87 17.08c.37.53.6 1.17.6 1.87 0 1.8-1.47 3.25-3.26 3.25H4.23c-1.16 0-2.23-.62-2.8-1.63-.6-1-.6-2.25 0-3.26l10-17.32C12 1.62 13.08 1 14.23 1M9.88 18.32h8.75l-4.37-7.58-4.38 7.58M14.25 0c-1.52 0-2.93.8-3.68 2.12l-10 17.32c-.76 1.32-.76 2.94 0 4.25.75 1.3 2.16 2.12 3.68 2.12h20.13c2.3-.07 4.13-1.95 4.13-4.25 0-.86-.25-1.7-.74-2.4L17.92 2.12C17.18.82 15.77 0 14.26 0zM11.6 17.32l2.65-4.58 2.64 4.58h-5.3z'/%3E%3C/svg%3E");
	width: 29px;
	height: 27px;
}
.o5 .event-detail .map-marker {
	width: 23px;
	height: 21px;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.o5 .map-marker.severity-minor {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.51' height='25.82' viewBox='0 0 28.506 25.816'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M3.38 22.07L14.25 3.25 25.1 22.07'/%3E%3Cpath d='M14.25 4.25l10 17.32h-20l10-17.32m0-2l-.87 1.5-10 17.32-.87 1.5H26l-.87-1.5-10-17.32-.85-1.5z'/%3E%3C/g%3E%3Cpath fill='%23F9C84E' d='M24.17 25.3l-19.93.02c-1.33 0-2.58-.72-3.24-1.88-.67-1.15-.67-2.6 0-3.75L11 2.36C11.67 1.22 12.9.5 14.25.5c1.33 0 2.57.72 3.24 1.87l9.85 17.08c.42.6.66 1.34.66 2.12 0 2.04-1.64 3.7-3.68 3.75H24.17zm-6.42-7.48l-3.5-6.08-3.5 6.08h7z'/%3E%3Cpath fill='%23FFF' d='M14.25 1c1.16 0 2.23.62 2.8 1.62l9.87 17.08c.37.53.6 1.17.6 1.87 0 1.8-1.47 3.25-3.26 3.25H4.23c-1.16 0-2.23-.62-2.8-1.63-.6-1-.6-2.25 0-3.26l10-17.32C12 1.62 13.08 1 14.23 1M9.88 18.32h8.75l-4.37-7.58-4.38 7.58M14.25 0c-1.52 0-2.93.8-3.68 2.12l-10 17.32c-.76 1.32-.76 2.94 0 4.25.75 1.3 2.16 2.12 3.68 2.12h20.13c2.3-.07 4.13-1.95 4.13-4.25 0-.86-.25-1.7-.74-2.4L17.92 2.12C17.18.82 15.77 0 14.26 0zM11.6 17.32l2.65-4.58 2.64 4.58h-5.3z'/%3E%3C/svg%3E");
}
.o5 .map-marker.severity-major {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.51' height='25.82' viewBox='0 0 28.506 25.816'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M3.38 22.07L14.25 3.25 25.1 22.07'/%3E%3Cpath d='M14.25 4.25l10 17.32h-20l10-17.32m0-2l-.87 1.5-10 17.32-.87 1.5H26l-.87-1.5-10-17.32-.85-1.5z'/%3E%3C/g%3E%3Cpath fill='%23E52A29' d='M24.17 25.3l-19.93.02c-1.33 0-2.58-.72-3.24-1.88-.67-1.15-.67-2.6 0-3.75L11 2.36C11.67 1.22 12.9.5 14.25.5c1.33 0 2.57.72 3.24 1.87l9.85 17.08c.42.6.66 1.34.66 2.12 0 2.04-1.64 3.7-3.68 3.75H24.17zm-6.42-7.48l-3.5-6.08-3.5 6.08h7z'/%3E%3Cpath fill='%23FFF' d='M14.25 1c1.16 0 2.23.62 2.8 1.62l9.87 17.08c.37.53.6 1.17.6 1.87 0 1.8-1.47 3.25-3.26 3.25H4.23c-1.16 0-2.23-.62-2.8-1.63-.6-1-.6-2.25 0-3.26l10-17.32C12 1.62 13.08 1 14.23 1M9.88 18.32h8.75l-4.37-7.58-4.38 7.58M14.25 0c-1.52 0-2.93.8-3.68 2.12l-10 17.32c-.76 1.32-.76 2.94 0 4.25.75 1.3 2.16 2.12 3.68 2.12h20.13c2.3-.07 4.13-1.95 4.13-4.25 0-.86-.25-1.7-.74-2.4L17.92 2.12C17.18.82 15.77 0 14.26 0zM11.6 17.32l2.65-4.58 2.64 4.58h-5.3z'/%3E%3C/svg%3E");
}
.o5 .map-marker.archived {
	opacity: 0.5;
}
.o5 .map-marker.selected {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.51' height='25.82' viewBox='0 0 28.506 25.816'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M3.38 22.07L14.25 3.25 25.1 22.07'/%3E%3Cpath d='M14.25 4.25l10 17.32h-20l10-17.32m0-2l-.87 1.5-10 17.32-.87 1.5H26l-.87-1.5-10-17.32-.85-1.5z'/%3E%3C/g%3E%3Cpath fill='%2375B7C1' d='M24.17 25.3l-19.93.02c-1.33 0-2.58-.72-3.24-1.88-.67-1.15-.67-2.6 0-3.75L11 2.36C11.67 1.22 12.9.5 14.25.5c1.33 0 2.57.72 3.24 1.87l9.85 17.08c.42.6.66 1.34.66 2.12 0 2.04-1.64 3.7-3.68 3.75H24.17zm-6.42-7.48l-3.5-6.08-3.5 6.08h7z'/%3E%3Cpath fill='%23FFF' d='M14.25 1c1.16 0 2.23.62 2.8 1.62l9.87 17.08c.37.53.6 1.17.6 1.87 0 1.8-1.47 3.25-3.26 3.25H4.23c-1.16 0-2.23-.62-2.8-1.63-.6-1-.6-2.25 0-3.26l10-17.32C12 1.62 13.08 1 14.23 1M9.88 18.32h8.75l-4.37-7.58-4.38 7.58M14.25 0c-1.52 0-2.93.8-3.68 2.12l-10 17.32c-.76 1.32-.76 2.94 0 4.25.75 1.3 2.16 2.12 3.68 2.12h20.13c2.3-.07 4.13-1.95 4.13-4.25 0-.86-.25-1.7-.74-2.4L17.92 2.12C17.18.82 15.77 0 14.26 0zM11.6 17.32l2.65-4.58 2.64 4.58h-5.3z'/%3E%3C/svg%3E") !important;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: white;
	background-color: rgb(242, 119, 57);
	background-color: rgba(242, 119, 57, 0.7);
	border: 3px solid #ffffff;
	border-color: rgba(255, 255, 255, 0.6);
}
.marker-cluster span {
	line-height: 30px;
}
.marker-cluster:hover {
	background-color: rgba(242, 119, 57, 0.9);
	border-color: rgba(132, 208, 216, 0.7);
}

/*.marker-cluster-small {
	width: 33px;
	height: 33px;
}
.marker-cluster-small div {
	width: 25px;
	height: 25px;
	margin-left: 4px;
	margin-top: 4px;
}
.marker-cluster-small span {
	line-height: 20px;
}*/