<div class="editor">
		<div style="text-align: right"><a class="btn btn-small close-button"><%- O5._t('Close') %></a> &nbsp; <a class="btn btn-small btn-primary save-button"><%- O5._t('Save') %></a></div>
	<ul class="nav nav-tabs">
		<li class="active" data-tab="basics"><a href=""><%- O5._t('Basics') %></a></li>
		<li data-tab="details"><a href=""><%- O5._t('Details') %></a></li>
		<li data-tab="schedule"><a href=""><%- O5._t('Schedule') %></a></li>
		<li data-tab="roads"><a href=""><%- O5._t('Roads') %></a></li>
		<!-- <li data-tab="map"><a href="">Map</a></li> -->
	</ul>

	<div class="fields"></div>
</div>