<% if (events) { %>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th><%- O5._t('Headline') %></th>
				<th><%- O5._t('Severity') %></th>
				<th><%- O5._t('Start date') %></th>
				<th><%- O5._t('End date') %></th>
				<th><%- O5._t('Status') %></th>
			</tr>
		</thead>
		<tbody>
		<% _.each(events, function(rdev) { %>
			<tr <% if (rdev.get('selected')) { print('class="success"'); } %>>
				<td><a href="#" data-roadevent="<%- rdev.id %>" class="select-event"><%- rdev.get('headline') %></a></td>
				<td><%- rdev.getEnum('severity') %></td>
				<td><%- rdev.get('schedule').start_date %></td>
				<td><%- rdev.get('schedule').end_date %></td>
				<td><%- rdev.getEnum('status') %></td>
			</tr>
		<% }); %>
		</tbody>
	</table> 
<% } %>
