<% if (geomType() === null) { %>
	<a class="btn draw-point"><%- O5._t('Draw point') %></a> <a class="btn draw-line"><%- O5._t('Draw line') %></a>
<% }
if (geomType() === 'Point') { %>
	<strong><%- O5._t('Point') %></strong> <em><%- geom.coordinates[0] %>, <%- geom.coordinates[1] %></em>
	<br><a class="btn draw-clear"><%- O5._t('Clear point') %></a>
<% }
if (geomType() === 'LineString') { %>
	<strong><%- O5._t('LineString') %></strong>
	<br><a class="btn draw-clear"><%- O5._t('Clear line') %></a>
<% } %>