{% load i18n %}
{% load static from staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Open511</title>

  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  {% if gmaps %}
  <link rel="stylesheet" href="{% static "o5ui/css/open511-complete-googlemaps.css" %}">
  {% else %}
  <link rel="stylesheet" href="{% static "o5ui/css/open511-complete-leaflet.css" %}">
  {% endif %}
  
</head>

<body>
  <!-- Main container. -->
  <div role="main" id="main">
    {% include "o5ui/header.html" %}
  </div>

  {% if gmaps %}<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing"></script>{% endif %}
  {% if LANGUAGE_CODE == "fr" %}
    <script src="{% static "o5ui/locale/fr.js" %}"></script>
  {% endif %}

  {% for js_file in js_files %}
    <script src="{% static js_file %}"></script>
  {% endfor %}

  <script type="text/javascript">
  $(function() {
    O5.init({{ opts }});
  });
  </script>

</body>
</html>
