body {
	overflow: hidden;
	font-size: 13px;
	line-height: 18px;
}
.header {
	height: 50px;
	padding: 1px 10px;
	background-color: #AFF59F;
	border-bottom: 2px solid #5bb053;
}
.header h1 {
	margin: 0;
}
.header small {
	font-size: 18px;
}
.header .logo {
	padding: 6px 20px 0 8px;
}
.header div.header-buttons {
	display: block;
	position: absolute;
	top: 12px;
	right: 50px;
	font-size: 14px;
}
.infopane {
	overflow: auto;
	z-index: 5;
	position: relative;
	background-color: white;
}
.infopane > div {
	padding: 5px 15px;
}
.infopane h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	line-height: 30px;
	margin: 10px 0;
	font-size: 24px;
}
.infopane h2 a i {
	vertical-align: middle;
	margin: 0 0 3px 3px;
	opacity: 0.7;
}
.infopane h2 a i:hover {
	opacity: 1.0;
}
.infopane div.date {
	font-size: 14px;
	font-weight: bold;
	color: #777777;
	margin-bottom: 5px;
}
.infopane h4 {
	font-family: 'Ubuntu Condensed', sans-serif;
	border-bottom: 1px dotted #aaaaaa;
	margin: 10px 0 5px 0;
}
.mainpane {
	position: absolute;
	overflow: hidden;
}
.mainpane-control {
	position: absolute;
	z-index: 10;
}
.mainpane .mainpane-buttons {
	top: 12px;
	right: 20px;
}
.mainpane-zoom {
	left: 13px;
	top: 12px;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
	border: 1px solid #888;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	visibility: hidden;
}
.map-active .mainpane-zoom {
	visibility: visible;
}
.mainpane-zoom a {
	width: 22px;
	height: 22px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	text-decoration: none;
	color: black;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}
.mainpane-zoom a:hover {
	background-color: #fff;
	color: #777;
}
.mainpane-zoom-in {
	border-bottom: 1px solid #aaa;
	font: bold 18px/24px Arial, Helvetica, sans-serif;
	-webkit-border-radius: 5px 5px 0 0;
	        border-radius: 5px 5px 0 0;
}
.mainpane-zoom-out {
	font: bold 23px/20px Tahoma, Verdana, sans-serif;
	-webkit-border-radius: 0 0 5px 5px;
	        border-radius: 0 0 5px 5px;
}
.mainpane-zoom a.disabled {
	cursor: default;
	background-color: rgba(255, 255, 255, 0.8);
	color: #bbb;
}

.mainpane-filter {
	display: inline-block;
}

.mainpane-buttons .add-event {
	margin-right: 20px;
	display: inline-block;
}

tr.empty td.closecol {
	visibility: hidden;
}

.badged-button {
	position: relative;
	padding-right: 20px;
}

.badged-button .badge {
	position: absolute;
	top: -4px;
	right: 10px;
}

.editor .field input, .editor .field textarea {
	width: 90%;
	resize: none;
}
.editor .field label {
	font-weight: 300;
	font-size: 15px;
	color: #777777;
}

#notifications {
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 350px;
}
#notifications .alert {
	width: 600px;
/*	margin-left: auto;
	margin-right: auto;*/
}

.roadevent-list {
	overflow: auto;
	height: 100%;
}
.roadevent-list ol, .roadevent-list ul {
	margin: 40px 10px 50px 40px;
}
.roadevent-list li.selected {
	font-weight: bold;
}